.application-item {
    background: var(--primary-bg);
    color: var(--bs-gray-100);
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 140px;
    padding: 20px;

    .h6 {}

    .application-left {
        ul {
             
            li {
                font-size: 14px;
                display: inline-block;
                padding-right: 18px;
                padding-top: 16px;
            }
        }
    }

    .application-right {
        text-align: right;
        padding-top: 7px;

        ul {
            display: grid;
            gap: 7px;

            li {
                font-size: 14px;
                color: #6C6464;
                &:last-child {
                    color: #00B158;
                }
            }
        }
    }
}


.switch {
    margin-top: 15px;
    text-align: right;
    a {
        background: var(--primary-bg);
        border-radius: 10px;
        font-weight: 500;
        font-size: 13px;
        padding: 12px 25px;
        display: inline-block;
        color: var(--bs-gray-100)
    }
}


.recent-environment-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    row-gap: 100px;

}

.recent-environment-item{
    border-radius: 10px;
    min-height: 382px;
    position: relative;
    
    .environment-item-head{
        display: grid;
        align-items: center;
        justify-content: center;
        height: 100%;
        .btn-cad{
            background: #FA2937;
            border-radius: 5px;
            padding: 7px 10px;
            color: var(--bs-gray-100);
            font-weight: 500;
            font-size: 14px;
            display: inline-block;
            margin: 15px;
            position: absolute;
            top: 0;
            img{}
        } 
        .profile-img{
            position: relative;
            .profile{}
            .mes{
                position: absolute;
                top: 0;
                right: -15px;
            }
        }
        .susi{
            color: var(--bs-gray-100);
            position: absolute;
            bottom: 20px;
            left: 0;
            right: 0;
            width: 90%;
            margin: 0 auto;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            font-weight: 500;
            font-size: 16px;
            span{
                color: var(--primary-color);
            }
            img{}
        }
    }
    &:nth-child(3n + 1){
        background: var(--primary-bg);
        .btn-cad{
            background: var(--primary-color);
        }
    }
    
    &:nth-child(3n + 2){
        background: linear-gradient(90deg, #373535 0%, #010101 100%);
        .susi{
            background: #FA2937;
        }
        
    }
    &:nth-child(3n + 3){
        background: #E9E9E9;
        .susi{
            background: #252149;
        }
    } 
    .start-btn{
        position: absolute;
        bottom: -63px;
        width: 100%;
        a{
            background: var(--primary-color);
            color: var(--bs-gray-100);
            display: block;
            padding: 15px 15px;
            border-radius: 5px;
            font-weight: 500;
            font-size: 16px;
            text-align: center;
        }
      
    }
}

@media (min-width: 320px) and (max-width: 900px){
    .recent-environment-content{
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    }
    .application-item{
        display: block;
    }
}