
.sidebarNav {
    background: var(--primary-bg);
    width: 80px;
    display: grid; 
    justify-content: center;
    height: calc(100vh - 80px);
    padding-top: 30px;
    position: fixed;
    z-index: 1;
    left: 0;
    ul{
         
        li{
            margin-bottom: 10px;
        }
        a{
            
            border-radius: 10px;
            width: 60px;
            height: 58px;
            display: grid;
            align-items: center;
            justify-content: center;
            &:hover{
                background: var(--primary-color);
            }
        }
    }

    .bottomList{
        margin-top: auto;
    }
}