@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&family=Nunito:wght@400;500;600;700&display=swap');

// font-family: 'Heebo', sans-serif;
// font-family: 'Nunito', sans-serif;


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0; 
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

:root{
	--primary-color: #32eac6;
	
	--primary-bg: linear-gradient(180deg, #494092 0%, #252149 100%);
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    font-family: 'Heebo', sans-serif;
	background: #f3f6ff;
}

.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
    color: unset;
    background-color: unset;
    border-color: unset;
}
.btn-check:focus+.btn-primary, .btn-primary:focus,
.btn-check:active+.btn-primary:focus, .btn-check:checked+.btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow:unset
}

main.wrapper {
    height: calc(100vh - 63px);
    overflow-y: scroll;
    position: relative;
    top: 63px;
    padding: 30px 0;
	width: 100%;
	background: #F3F6FF;
}

#root{
	display: flex;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5{
	font-family: 'Nunito', sans-serif;
}

.page-content {
    padding: 30px 4vw;
}
  

@media (min-width: 320px) and (max-width: 1380px){
    
}

@media (min-width: 320px) and (max-width: 900px){
    
}

@media (min-width: 320px) and (max-width: 600px){
    
    
}