.management-user {
    .user-list {
        display: flex;
        gap: 14px;
        margin: 35px 0 33px;

        li {
            display: inline-block;

            a {
                background: #D0D0D0;
                border-radius: 13px;
                font-weight: 500;
                font-size: 15px;
                color: #FFFFFF;
                display: flex;
                gap: 10px;
                padding: 6px 15px;
                align-items: center;
            }
        }

        .active {
            a {
                background: var(--primary-color);
            }
        }

        .check {
            a {
                background: #3191E9;
            }
        }
    }

    .search-meta {
        input {
            min-width: 375px;
        }
    }
}


.table-componet {
    .form-check-input {
        width: 16px;
        height: 16px;
    }

    th {
        font-size: 12px;
        color: #858585;
    }

    .table>:not(:first-child) {
        border: 0;

        tr {
            border-bottom: 1px solid #dfdfdf;
            font-size: 14px;
            color: #03081A;
        }

    }

    .table>:not(caption)>*>* {
        padding: 9px 5px;
        align-items: center;
    }

    td {
        span {
            display: flex;
            align-items: center;
            // justify-content: center;
            height: 21px;
            a{
                color: black;
            }
        }

        &:last-child {
            float: right;
        }
    }

    .id{
        cursor: pointer;
    }

    .pass-r {
        span {
            gap: 10px;
            background: #051B5D;
            border-radius: 5px;
            font-weight: normal;
            font-size: 12px;
            color: #FFFFFF;
            width: 140px;
            padding: 8px;
            cursor: pointer;
        }
    }

    .Inactive,
    .Active {
        span {
            justify-content: center;
            background: #d0fae5;
            font-weight: normal;
            font-size: 12px;
            color: #00B158;
            padding: 8px 13px;
            border-radius: 30px;
            text-align: center;
            width: 55px;
        } 
    }

    .Inactive{
        span{
            background: #E6E8F0;
            color: #616161;
            width: 65px;
        }
    }

    .Environments{
        span{
            grid-gap: 10px;
            gap: 10px;
            background: #051B5D;
            border-radius: 5px;
            font-weight: normal;
            font-size: 12px;
            color: #FFFFFF;
            width: 140px;
            padding: 8px;
            cursor: pointer;
            &::before{
                content: url("../../images/3dod.png");
                transform: translateY(-2px);
            }
        }
    }

    .bts {
        span {
            background: #051B5D;
            border-radius: 5px;
            color: #fff;
            gap: 10px;
            justify-content: center;
        }

    }

    .bts1 {
        span {
            width: 150px;
            font-size: 13px;
        }
    }

    .bts2 {
        span {
            width: 100px;
            font-size: 13px;
        }
    }
}

.modal-dialog {
    top: 50%;
    transform: translateY(-50%);
}

.rpass-modal {
    .modal-content {
        background: #FFFFFF;
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.49);
        border-radius: 19px;
        padding: 15px 4px;
        min-height: 260px;
        .btn-close {
            background-size: 13px;
            position: absolute;
            right: 15px;
            top: 15px;
        }
    }

    .modal-header {
        border: 0;
        font-weight: normal;
        font-size: 18px;
        color: #000000;
    }

    .modal-body {
        gap: 10px;
    }

    p {
        font-weight: normal;
        font-size: 16px;
        padding-bottom: 20px;
        line-height: 28px;

        a {
            color: #18A0FB !important;
        }
    }
 
    .modal-btn {
        background: #051B5D;
        color: white !important;
        border-radius: 5px;
        width: 193.23px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .modalcont{
        .modalOne{}
        .modaltwo{
            display: none;
        }
    }
    .modalcont.active{
        .modalOne{display: none;}
        .modaltwo{
            display: block;
        }
    }
    .modalbooter{
        position: relative;
        padding: 0;
        .btn-close{ 
            position: absolute;
            left: 0;
            width: 180px;
            top: 10px;
            right: auto;
            background: no-repeat;
        }
        
    }
}


.single-user-content {
    .single-row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .single-col {
        background: #FFFFFF;
        border-radius: 12px;
        padding: 20px;
    }

    .single-user-from {
        display: grid;
        grid-template-columns: 1fr 180px;
        gap: 25px;

        h5 {}

        .single-user-from-left {
            h5 {
                padding-bottom: 35px;
            }

            form {
                display: grid;
                gap: 25px;
            }

            label {
                font-weight: normal;
                font-size: 14px;
                display: grid;
                padding-bottom: 10px;
            }

            input {
                width: 100%;
                height: 35px;
                background: #F3F3F3;
                border-radius: 5px;
                padding: 10px;
                border: 0;
                box-shadow: none;
                font-size: 14px;
            }
        }

        .single-user-from-right {
            .h6 {
                font-size: 14px;
                padding-bottom: 4px;
            }

            .update-profile {
                text-align: center;
                position: relative;

                &::before {
                    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAFRSURBVHgB7VWhVsMwFH3ZwYAskkmKHJZvAAkWyew+A11bJHaWg0VOT1ILcpUgy73kZWSFNllbwdnZPeeepEn7bt7LTSqyKzChF6qqStBMwcM/pj/B3BhTSlcRFZiBxy2vrcCsTcjUAt6CiTfP1R9JGB9is3Kg4KMT9kW44lSGQwGRjJ2RN5jIsFiX+EDiUYALsaU4Ac/AScyHMSKs9wNSL2qCLygxy9vkvK1EvgUQkKu/EltWZjPX8VysAzuLLDWQs7Jz2hhMMZ7pPDNrNM0oIOJKdC2/rcwSXWp/0RYkJPKmbdNhdI4s+4i4IKuGeRd8LD1ELrR9ls0TTdB1c+2ftgUJbTw3N9XNvcfzjfy464nXhtr4vI8IMaVN9Zzk/oQK3IUCxIjQRTMEXKJ9Bd/FZsNSRt1121wrE4m8RurwN76UYbF2ZOh/0hUb/5M9/h++ANMFbNtPezWpAAAAAElFTkSuQmCC);
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    cursor: pointer;
                }

                img {
                    width: 110px;
                    height: 110px;
                    cursor: pointer;
                }
            }

            .status {
                a {
                    width: 58px;
                    height: 22px;
                    display: grid;
                    align-items: center;
                    justify-content: center;
                    font-weight: normal;
                    font-size: 12px;
                    color: #00B158;
                    background: #d5ffea;
                    border-radius: 26px;
                }
            }

            .password {
                padding-top: 15px;
            }

            .company,
            .password {
                a {
                    background: #051B5D;
                    border-radius: 5px;
                    width: 100%;
                    display: flex;
                    height: 30px;
                    align-items: center;
                    justify-content: center;
                    gap: 15px;
                    color: #fff;
                    font-size: 14px;
                    cursor: pointer;
                }
            }

            .company {
                margin-top: 20px;
            }
        }
    }

    .single-user-roles {
        th {
            font-size: 14px;
            font-weight: normal;
        }

        .table>:not(:first-child) {
            border: 0;
        }

        .table>:not(caption)>*>* {
            padding: 10px 1px;
        }

        tbody {
            tr {

                border-bottom: 1px solid #03081a42;
            }

            td {
                font-size: 15px;
                color: #03081A;

                span {
                    background: #C4C4C4;
                    border-radius: 5px;
                    width: 21px;
                    height: 21px;
                    display: grid;
                    align-items: center;
                    justify-content: center;
                    color: #fff;
                    font-size: 22px;
                }
            }
        }

        .roles-btn {
            display: flex;
            justify-content: flex-end;
            gap: 30px;

            li {
                text-align: right;
                display: flex;
                gap: 30px;
                justify-content: space-between;
                padding-top: 7px;
            }

            a {
                background: #051B5D;
                border-radius: 5px;
                display: inline-block;
                padding: 7px 15px;
                color: #fff;
            }
        }
    }
}


.single-table {
    background: #FFFFFF;
    border-radius: 12px;
    padding: 20px;
    margin-top: 30px;

    .h5 {}

    .date-time {
        span {
            display: inline-flex;
            margin-right: 10px;
        }
    }

    text {
        color: #3191E9;
        padding-right: 10px;
    }
}


@media (min-width: 320px) and (max-width: 900px) {
    .table-componet .col-md-12 {
        overflow-x: auto;
    }

    .table-componet {
        .id {
            min-width: 35px;
        }

        .roles,
        .enviro,
        .name {
            min-width: 182px;
        }

        .used {
            min-width: 100px;
        }

        .desc {
            min-width: 130px;
        }

        .descrp {
            min-width: 300px;
        }
    }

    .single-user-content .single-row {
        grid-template-columns: 1fr;
    }

    .single-user-content .single-user-from {
        grid-template-columns: 1fr 158px;
    }

}

.con-pass{
    display: grid;
    grid-template-columns: 1fr 1fr;
    .reset-pss {
        margin-left: auto;
        li {
            display: inline-block;
        }
    
        .ress { 
            gap: 10px;
            background: #051B5D;
            border-radius: 5px;
            font-weight: normal;
            font-size: 12px;
            color: #FFFFFF;
            padding: 5px 15px;
            cursor: pointer;
            img{
                margin-right: 8px;
            }
        }
    
        .active {
            justify-content: center;
            background: #d0fae5;
            font-weight: normal;
            font-size: 12px;
            color: #00B158;
            padding: 5px 15px;
            border-radius: 30px;
            text-align: center; 
            margin-left: 25px;
        }
    }
    

}



@media (min-width: 320px) and (max-width: 500px) {
    .single-user-content .single-user-roles .roles-btn a {

        font-size: 12px;
    }

    .con-pass {
        display: grid;
        grid-template-columns: 1fr;
    }
    
}

@media (min-width: 320px) and (max-width: 400px) {
    .single-user-content .single-user-from {
        grid-template-columns: 1fr;
    }
}